{% extends 'main/base.html' %}
{% block content %} 

<h1>Video de Webcam </h1>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
  <iframe src="{% url 'webcam' %}" width="640" height="480"></iframe>
  <img id="prediction-image" src="/media/prediction.jpg" alt="Puntos de prediccion" width="640" height="480">
</div>

<div>  
  <form id="capture-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} <input type="file" name="image"> <!-- Make sure the name attribute is "image" --> {% endcomment %}
    <button type="submit" class="btn btn-dark" >Tomar foto</button>
  </form>
</div>
<br>
<div class="input-group mb-3">
  <form id="upload-picture-btn" method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <input type="file" name="image" class="form-control"><br> <!-- Make sure the name attribute is "image" --> 
    <button  type="submit" class="btn btn-dark" >Guardar Imagen</button> 
    <button  class="btn btn-dark" onclick="confirmDelete()">Actualizar Tabla</button> 
  </form>
</div>
<script>
  function confirmDelete() {
    if (confirm('Actualizar la tabla?')) {
      // Si el usuario hace clic en "Aceptar", espera 5 segundos y luego recarga la página
      setTimeout(function() {
        location.reload();
      }, 500); // 5000 milisegundos = 5 segundos
    }
  }
  </script>
   
  </script>
  

<div>
  <table class="table table-striped">  
    <caption> Historico de Pesos </caption>
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Peso</th>
      </tr>
    </thead>
    <tbody>
      {% for detail in weights %}
      <tr>
        <td>{{ detail.user }}</td>
        <td>{{ detail.weight }}</td>
      </tr>
      {% endfor %}
  </table>
</div>

<a href="{% url 'history' %}" class="btn btn-dark">Descargar Historico</a>

<script>
  document.getElementById('capture-form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const response = await fetch('{% url 'picture' %}', {
          method: 'POST',
          body: formData,
      });
      const data = await response.json();
      alert(data.message);
  });
</script>

<script>
  document.getElementById('upload-picture-btn').addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    const response = await fetch('{% url 'webcam' %}', {
        method: 'POST',
        body: formData,
    });
    const data = await response.json();
    alert(data.message);
    
});
</script>

{% endblock %}