{% extends 'main/base.html' %} {% block title %}Pesaje por Imagen{% endblock %} 
{% block content %} 

<h1>Video de Webcam </h1>

<iframe src="{% url 'webcam' %}" width="640" height="480"></iframe>

<div>  
  <form id="capture-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} <input type="file" name="image"> <!-- Make sure the name attribute is "image" --> {% endcomment %}
    <button type="submit">Tomar foto</button>
  </form>

  <form id="upload-picture-btn" method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <input type="file" name="image"> <!-- Make sure the name attribute is "image" --> 
    <button type="submit">Guardar Imagen</button> 
  </form>
</div>

<a href="{% url 'history' %}" class="btn btn-primary">Go to URL</a>

<script>
  document.getElementById('capture-form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const response = await fetch('{% url 'picture' %}', {
          method: 'POST',
          body: formData,
      });
      const data = await response.json();
      alert(data.message);
  });
</script>

<script>
  document.getElementById('upload-picture-btn').addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(event.target);
    const response = await fetch('{% url 'webcam' %}', {
        method: 'POST',
        body: formData,
    });
    const data = await response.json();
    alert(data.message);
    
});
</script>

{% comment %} {% for weight in weights %}
<div class="card mt-2">
  <div class="card-header"><strong>@{{ post.author.username }}</strong></div>
  <div class="card-body d-flex flex-row justify-content-between">
    <div>
      <h5 class="card-title">{{post.title}}</h5>
      <p>{{post.description}}</p>
    </div>
  </div>
  <div class="card-footer text-muted">{{post.created_at}}</div>
</div>
{% empty %}
<p>No posts yet :(</p>
{% endfor %} {% endcomment %}

{% endblock %}