{% extends 'main/base.html' %} {% block title %}Pesaje por Imagen{% endblock %} 
{% block content %} 

<h1>Video de Webcam </h1>
{% comment %} <video id="webcam" autoplay></video> {% endcomment %}
{% comment %} <script>
    const videoElement = document.getElementById('webcam');
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => videoElement.srcObject = stream)
        .catch(error => console.error('Error accessing webcam:', error));
</script> {% endcomment %}

<iframe src="{% url 'webcam' %}" width="640" height="480"></iframe>

<div>  
  <form id="capture-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image"> <!-- Make sure the name attribute is "image" -->
    <button type="submit">Tomar foto</button>
  </form>
  {% comment %} <button id="take-picture-btn">Tomar Foto</button> {% endcomment %}
  {% comment %} <button id="upload-picture-btn">Subir Imagen</button> {% endcomment %}
</div>

<script>
  document.getElementById('capture-form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const response = await fetch('{% url 'picture' %}', {
          method: 'POST',
          body: formData,
      });
      const data = await response.json();
      alert(data.message);
  });
</script>

<script>
  const btn = document.getElementById('upload-picture-btn').addEventListener('click', async (event) => {
    await fetch('/take_picture/')
      .then(response => response.text())
      .then(message => alert(message))
      .catch(error => console.error(error));

      event.preventDefault();
      const formData = new FormData(event.target);
      const response = await fetch('{% url 'webcam' %}', {
          method: 'POST',
          body: formData,
      });
      const data = await response.json();
      alert(data.message);
  });
</script>


{% endblock %}